.container.contact-us
  .row
    .col-sm-6
      .row.info
        .col-sm-6
          %address
            %h5 Rowe Chiropractic Offices
            316 E. 59th St.
            %br
            New York, NY 10022
            %br
            %abbr{ title: 'Phone' } P:
            = link_to '(212) 486-8888', 'tel:2124868888', class: :phone
            %br
            %abbr{ title: 'Email' } E:
            = mail_to 'info@rowechiropractic.com', 'info@rowechiropractic.com', encode: :javascript
        .col-sm-6
          %h5 Hours
          %ul.hours
            %li Monday 8:00AM - 6:45PM
            %li Tuesday 8:00AM - 6:45PM
            %li Wednesday 8:00AM - 6:45PM
            %li Thursday 8:00AM - 6:45PM
            %li Friday 8:00AM - 9:30AM

    .col-sm-6
      .map-responsive
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed/v1/place?key=#{ENV.fetch('google_api_key')}&q=Rowe+Chiropractic,Manhattan+NY", style: "border:0", width: "600"}


    .row
    .col-sm-6
      = render 'shared/contact_form'
    .col-sm-6

