.row
  .col
    = render 'cms_pages/cms_page_content'

.contact-us
  .row
    .col-sm-6
      .map-responsive
        %iframe{allowfullscreen: "", frameborder: "0", height: "450", src: "https://www.google.com/maps/embed/v1/place?key=#{ENV.fetch('google_api_key')}&q=Rowe+Chiropractic,Manhattan+NY", style: "border:0", width: "600"}
    .col-sm-6
      = render 'shared/contact_form', show_title: false

  %a{ name: 'hours-of-operation', href: '#' }

  .row.hours.mt-3
    .col-sm-6
      %h5 Office Hours
      %ul.hours
        %li
          %strong Monday:
          8:00AM - 6:45PM
        %li
          %strong Tuesday:
          8:00AM - 6:45PM
        %li
          %strong Wednesday:
          8:00AM - 6:45PM
        %li
          %strong Thursday:
          8:00AM - 6:45PM
        %li
          %strong Friday:
          8:00AM - 9:30AM

    .col-sm-6
      %h5 Adjustment Hours
      %ul.hours
        %li
          %strong Monday:
          8 - 9:30am, 12 - 1:30pm, 4 - 6:30pm
        %li
          %strong Tuesday:
          8 - 9:30am, 4 - 6:30pm
        %li
          %strong Wednesday:
          8 - 9:30am, 12 - 1:30pm, 4 - 6:30pm
        %li
          %strong Thursday:
          8 - 9:30am, 12 - 1:30pm, 4 - 6:30pm
        %li
          %strong Friday:
          8 - 9:30am

