#carouselExampleIndicators.carousel.slide{ data: { ride: :carousel } }
  / %ol.carousel-indicators
  /   %li.active{ data: { 'slide-to' => 0, target: '#carouselExampleIndicators' } }
  /   %li{ data: { 'slide-to' => 1,  target: '#carouselExampleIndicators' } }
  /   %li{ data: { 'slide-to' => 2,  target: '#carouselExampleIndicators' } }
  .carousel-inner
    .carousel-item.child.active
      = image_tag('carousel/child.png', class: 'd-block w-100', height: 400)
      .carousel-caption.d-none.d-md-block
        %blockquote.blockquote
          %p.mb-0 Good habits formed at youth
          %p.mb-0 make all the difference.
          %footer.blockquote-footer
            %cite Aristotle

    .carousel-item.picnic
      = image_tag('carousel/family-picnic.jpg', class: 'd-block w-100', height: 400)
      .carousel-caption.d-none.d-md-block
        %blockquote.blockquote
          %p.mb-0 One family.
          %p.mb-0 One chiropractor.
          %p.mb-0 Four lives improved

    .carousel-item.fitness
      = image_tag('carousel/fitness.png', class: 'd-block w-100', height: 400)
      .carousel-caption.d-none.d-md-block
        %blockquote.blockquote
          %p.mb-0 "Life has no remote.
          %p.mb-0 Get up and change yourself."

