.container
  .meet-the-team
    = image_tag 'splash/team.jpg'
    %h3 Our team is here for you!
    %p At Rowe Chiropractic Offices, we have assembled an “A” team with diverse skills. From efficient clerical work to exemplary clinical ability, we afford our patients every opportunity to succeed in their journey to health.
    .clearfix
