.row.quote-carousel
  .col-sm-12
    #quote-carousel.carousel.slide{ data: { ride: :carousel } }
      %ol.carousel-indicators
        / %li.active{ data: { 'slide-to' => 0, target: '#quote-carousel' } }
        / %li{ data: { 'slide-to' => 1,  target: '#quote-carousel' } }
        / %li{ data: { 'slide-to' => 2,  target: '#quote-carousel' } }

      .carousel-inner
        .carousel-item.active
          %blockquote.blockquote
            %p
              &nbsp; Bodybuilders and fitness people have been using chiropractic very extensively in order to stay healthy and fit. I found it was better to go to a chiropractor before you get injured. We are a perfect team- the world of fitness and the world of chiropractors. &nbsp;
            %footer.blockquote-footer
              %cite Arnold Schwarzenegger

        .carousel-item
          %blockquote.blockquote
            %p &nbsp; Being a Chiropractic patient has really helped me immensely... lifting weights and seeing a Chiropractor on a regular basis has made me a better golfer. I've been going to Chiropractors for as long as I can remember. It's as important to my training as practicing my swing. &nbsp;
            %footer.blockquote-footer
              %cite Tiger Woods

        .carousel-item
          %blockquote.blockquote
            %p &nbsp;  The game of life requires the edge that chiropractic care provides. &nbsp;
            %footer.blockquote-footer
              %cite Jerry Rice


