.row.splash-nav
  .card-group
    = render 'splash_nav_card', title: 'About Us', text: 'Get to know more about what makes us the best in chiropractic in our area.', icon: 'thumbs-up'
    = render 'splash_nav_card', title: 'About Us', text: 'Get to know more about what makes us the best in chiropractic in our area.', icon: 'info-circle'
    = render 'splash_nav_card', title: 'About Us', text: 'Get to know more about what makes us the best in chiropractic in our area.', icon: 'question-circle'
    = render 'splash_nav_card', title: 'About Us', text: 'Get to know more about what makes us the best in chiropractic in our area.', icon: 'phone'
