- unless @testimonials.empty?
  .container.featured-testimonials
    .row
      .col-sm
        %h3
          What our patients are saying
          %small= link_to "(#{Testimonial.count} more)", '/pages/testimonials'

    .row
      = render @testimonials
