%section.mission
  .container
    .d-flex.flex-sm-row.flex-column.justify-content-around
      .statement
        %p
          %strong Reduce
          pressure on your nervous system.
          %small= link_to 'read more'
      .statement
        %p
          %strong Restore
          your body's self-healing ability.
          %small= link_to 'read more'
      .statement
        %p
          %strong Reach
          your full physical and mental potential.
          %small= link_to 'read more'
  /     .statement
  /       / %h2 Reach
  /       %p Reach your full physical and mental potential by reducing pressure on the nervous system
  /     .statement
  /       / %h2 Thrive
  /       %p Our bodies have the ability to thrive and function at a higher level than we thought was possible.
  /     .statement
  /       / %h2 Connect
  /       %p The human body is self-healing. Reconnect your mind with your body.
