.masthead{ data: { parallax: true, src: image_path('cat.jpeg'), pos_x: :left } }
  %nav.navbar.navbar-expand-lg.navbar-light
    %a.navbar-brand{:href => "#"}
      = image_tag 'rowe-chiropractic-logo-round.png', class: :logo
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item.active
          %a.nav-link{:href => "#"}
            Home
            %span.sr-only (current)
        %li.nav-item
          %a.nav-link{:href => "#"} Features
        %li.nav-item
          %a.nav-link{:href => "#"} Pricing
        %li.nav-item
          %a.nav-link.disabled{:href => "#"} Disabled

  .container
    .row
      .col-sm-4.mt-3
        %p.lead Your body has the ability to thrive and function at a higher level than you thought was possible.


#section2.section.jumbotron{ data: { parallax: true, src: image_path('cat.jpeg'), pos_x: :left } }
  %h3 CHIROPRACTIC CARE FOR TOTAL HEALTH: RECONNECTING YOUR MIND WITH YOUR BODY
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %p Using Gonstead, CBP and individually-customized, therapeutic movements, we alleviate the stress on the nervous system and restore the body’s natural healing ability.

#section3.section.jumbotron{ data: { parallax: true, src: image_path('cat.jpeg'), pos_x: :left } }
  %h1.display-4 Hello, world!
  %p.lead This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
  %hr.my-4/
  %p It uses utility classes for typography and spacing to space content out within the larger container.
  %p.lead
    %a.btn.btn-primary.btn-lg{:href => "#", :role => "button"} Learn more
