.cms-page {
  padding-top: 130px;
  background-image: image-url('splash/spinal.jpg');
  background-repeat: no-repeat;
  background-size: 100% 110px;
  padding-bottom: $margin/2;

  h2.page-header {
    .edit-link {
      float: right;
      font-size: 1rem;
      margin-bottom: $margin;
    }
  }

  .cms-content {
    .sub-title {
      color: $gray-600;
      font-style: italic;
    }

    h3 {
      display: inline-block;
      min-width: 60%;
      font-style: italic;
      font-weight: 600;
      border: 1px solid $gray-500;
      border-width: 0 0 1px 0;
      clear: both;
      margin-bottom: 1rem;
    }

    p.img {
      &.right {
        // display: inline-block;
        float: right;
      }
      &.left {
        // display: inline-block;
        float: left;
      }
    }
    img {
      @include img-fluid();
      padding: 3px;
      border: 1px solid $gray-600;
      margin: $margin/2;
      margin-top: 0;

      &[src*="#raw"] {
        float: none;
        margin: 0;
        padding: 0;
        border: none;
      }
    }
  }

  .cms-partial {
    padding-bottom: $margin;
  }

  blockquote {
    font-size: 1.2rem;
    font-style: italic;
    border: 1px solid $gray-200;
    border-width: 0 0 0 7px;
    padding: 1rem 0 1rem 1.5rem;
    p {
      margin: 0;
    }
  }
}
