.footer {
  font-size: 0.8rem;
  padding: $margin;
  color: $gray-400;

  h6 {
    color: $gray-200;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .row.content {
    margin-bottom: $margin/2;
  }

  .row.copy {
    color: $gray-600;
  }

  ul.hours {
    list-style: none;
    padding: 0;
    li {
    }
  }

  a.admin-login {
    color: $gray-600;
  }
}
