$footer-height: 500px;
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body.main {
  /* Margin bottom by footer height */
  margin-bottom: $footer-height;
}
.container.content {
  margin-top: $margin * 3;
}

.home {
  margin-top: $margin * 2.3;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: $footer-height;
}
