nav.navbar {
  .navbar-brand {
    color: $brand-primary  !important;
    span {
      font-weight: 650;
      margin-left: $margin/4;
    }
    img {
      height: 50px;
      width: 50px;
    }
  }

  .secondary-nav {
    ul.social, ul.contact {
      text-align: right;
      margin: 0;
      margin-bottom: 0.4rem;
      li {
        list-style: none;
        display: inline;
        margin-right: 0.5rem;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    ul.contact {
      font-size: 0.85rem;
      li.phone a {
        color: $gray-600;
      }
    }
    ul.social {
      font-size: 1.3rem;
      li {
        &.twitter a { color: $twitter-blue; }
        &.facebook a { color: $facebook-blue; }
        &.youtube a { color: $youtube-red; }
        &.instagram a { color: $instagram-purple; }
        a {
          display: inline;
          padding: 0;
        }
      }
    }
  }
}
