nav.navbar {
  padding: 0;
  background-color: $nav-bg;
  border-top: 1px solid $headings-color;
  border-bottom: 1px solid $text-muted;

  a {
    text-decoration: none;
    text-transform: uppercase;

    &.active {
      color: white;
      background-color: $link-color;
    }
  }
  .navbar-brand {
    color: $brand-primary  !important;
    span {
      font-weight: 650;
      margin-left: $margin/4;
    }
    img {
      height: 50px;
      width: 50px;
    }
  }
}
