body.splash {
  background: #f8f8f8;

  .info {
    margin-top: $margin / 2;
    margin-bottom: 0;
    p {
      margin-bottom: 0;
    }
    a {
      font-size: 0.9rem;
      color: $gray-800;
      font-weight: 600;
      svg {
        color: $link-color;
      }
    }
  }

  .branding {
    margin-top: -1rem;
    margin-bottom: $margin;
    text-transform: uppercase;
    img.logo {
      margin-bottom: $margin;
    }
    h1 {
      margin-bottom: 0;
      font-weight: 600;
      padding: 0;
      font-size: 2.2rem;
    }
    @media (min-width: 576px) {
      h1 { font-size: 2.5rem; }
    }

    p.tag-line {
      margin: 0;
      padding: 0;
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 0.07rem
    }
    @media (min-width: 576px) {
      p.tag-line { font-size: 1.2rem; }
    }
  }

  p {
    font-weight: 600;
  }

  .icon-nav {
    padding: $margin 0;
    margin-bottom: $margin;
    position: relative;
    border: 1px solid $gray-400;
    border-width: 1px 0;
    &:after {
      content: '';
      opacity: 0.7;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;

      background-color: #ededed;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 -350px;
    }

    @media (min-width: 768px) {
      background-image: image-url('splash/adjustment.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 -350px;
    }

    figure {
      margin: $margin 0;
      text-align: center;
      font-size: 1.1rem;
      color: $link-color;

      svg {
        fill: $link-color;
        width: 3.5rem;
      }

      figcaption.figure-caption {
        font-size: 0.8rem;
        letter-spacing: 2px;
        margin-top: 0.5rem;
        font-weight: 800;
        text-transform: uppercase;
        line-height: 1rem;
      }
    }
  }

  .mission {
    text-align: center;

    .statement {
      width: auto;
      padding: $margin;
      display: inline-block;
    }
  }

  .splash-content {
    background-image: image-url('splash/exam.jpg');
    background-size: cover;
    padding-top: $margin * 2;

    .content-block {
      padding: $margin;
      background: white;
      clear: both;

      h2 {
        border: 1px solid $link-color;
        border-width: 0 0 1px 0;
        margin-bottom: $margin;
      }
      .image {
        margin-bottom: 1rem;
        img {
          max-width: 200px;
        }
      }
      &.right {
        h2 {
          text-align: right;
        }
      }
    }
  }
}
