.splash-nav {
  margin-bottom: $margin;
  .card {
    border: none;
    text-align: center;
    .card-header {
      font-size: 3rem;
      background-color: transparent;
      border: none;
      padding: 0;
    }
  }
}
