.info {
  p {
    margin: 0;
  }
}
.branding {
  margin-bottom: $margin;
  text-transform: uppercase;
  img.logo {
    margin-bottom: $margin;
  }
  h1 {
    margin-bottom: 0;
    font-weight: 600;
    padding: 0;
  }
  p.tag-line {
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.07rem
  }
}

p {
  font-weight: 600;
}

.icon-nav {
  padding: $margin * 2 0;
  margin-bottom: $margin * 2;
  background-image: image-url('splash/adjustment.jpg');
  background-size: cover;
  background-position: 0 -350px;

  figure {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-right: $margin * 5;
    &:last-child { margin-right: 0; }
    color: $link-color;

    svg {
      fill: $link-color;
      width: 3.5rem;
    }

    figcaption.figure-caption {
      font-size: 0.8rem;
      letter-spacing: 2px;
      margin-top: 0.75rem;
      font-weight: 800;
      text-transform: uppercase;
      line-height: 1rem;
    }
  }
}

.mission {
  text-align: center;

  .statement {
    width: $margin * 13;
    margin-right: $margin * 3;
    &:last-child { margin-right: 0; }
    display: inline-block;
  }
}

.content {
  background-image: image-url('splash/exam.jpg');
  background-size: cover;
}
