@import url('https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

html > body > * {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

h2 {
  font-size: 2rem;
  color: $brand-secondary;
  font-weight: normal;
}

p {
  font-weight: 500;
  font-size: 1.1rem;
}
