@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html > body > * {
  font-family: 'Open Sans', sans-serif;
  color: $text-color;
}

h2 {
  font-size: 2rem;
  color: $brand-secondary;
  font-weight: normal;
}


p {
  font-weight: 500;
}
