%footer.footer.bg-dark
  .row
    .col-sm-12
      .card-group
        .card.bg-dark
          .card-body
            .card-title Welcome
            .card-body
              Video

        .card.bg-dark
          .card-body
            .card-title Join The Conversation
            .card-body
              FB Link
        .card.bg-dark
          .card-body
            .card-title Recent Blog Post
            .card-body
              Video
        .card.bg-dark
          .card-body
            .card-title Contact
            .card-body
              Video
        .card.bg-dark
          .card-body
            .card-title Hours
            .card-body
              Video
