%footer.footer.bg-dark
  .container
    .row.content
      .col-sm-12
        =# link_to image_tag('https://www.opencare.com/images/badges/patients-choice-winner-2016.png'), 'https://www.opencare.com/chiropractors/new-york-ny/#tc24630637381', target: '_blank'

    .row.copy
      .col-sm.text-center
        &copy;
        = Date.today.year
        Rowe Chiropractic Offices. All rights reserved.
        - path = user_signed_in? ? admin_dashboard_path : new_user_session_path
        = link_to fa_icon('sign-in-alt', class: :fa), path, class: 'admin-login'
