%footer.footer.bg-dark
  .container
    .row.content
      .col-sm-3
        %h6 What do you think of when you hear the word Chiropractor?
        %iframe{height: "120px", src: "https://player.vimeo.com/video/100711016?", width: "204px"}
      .col-sm-3
        %h6 Our Facebook Page
        .fb-page{ data: { 'hide-cover' => false, href: 'https://www.facebook.com/RoweChiropracticOffices/', 'show-facepile' => false, width: '200', 'adapt-container-width' => true, 'small-header' => true } }
      .col-sm-3
        %address
          %h6 Rowe Chiropractic Offices
          316 E. 59th St.
          %br
          New York, NY 10022
          %br
          %abbr{ title: :Phone } P:
          = link_to '(212) 486-8888', 'tel:2124868888', target: '_blank'
          = mail_to 'info@rowechiropractic.com', 'info@rowechiropractic.com', encode: :javascript

      .col-sm-3
        %h6 Hours
        %ul.hours
          %li Monday  8:00AM - 6:45PM
          %li Tuesday 8:00AM - 6:45PM
          %li Wednesday 8:00AM - 6:45PM
          %li Thursday  8:00AM - 6:45PM
          %li Friday  8:00AM - 9:30AM

    .row.content
      .col-sm-3
        %h6 Why am I a chiropractor?
        %small
          %p I have been asked this question throughout my entire career, and I always seemed to have an extremely thorough response:
          = link_to 'Read more...', '#'
      .col-sm-3
        %h6 Patient's Choice Award
        = link_to image_tag('https://www.opencare.com/images/badges/patients-choice-winner-2016.png'), 'https://www.opencare.com/chiropractors/new-york-ny/#tc24630637381', target: '_blank'

