%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-57x57.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-114x114.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-72x72.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-144x144.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-60x60.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-120x120.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-76x76.png')) }
%link{ href: favicon_link_tag(asset_path('fav/apple-touch-icon-152x152.png')) }
%link{ href: favicon_link_tag(asset_path('fav/favicon-196x196.png')) }
%link{ href: favicon_link_tag(asset_path('fav/favicon-96x96.png')) }
%link{ href: favicon_link_tag(asset_path('fav/favicon-32x32.png')) }
%link{ href: favicon_link_tag(asset_path('fav/favicon-16x16.png')) }
%link{ href: favicon_link_tag(asset_path('fav/favicon-128.png')) }
%meta{content: "Rowe Chiropractic", name: "application-name"}
%meta{content: "#FFFFFF", name: "msapplication-TileColor"}
%meta{content: "/assets/fav/mstile-144x144.png", name: "msapplication-TileImage"}
%meta{content: "/assets/fav/mstile-70x70.png", name: "msapplication-square70x70logo"}
%meta{content: "/assets/fav/mstile-150x150.png", name: "msapplication-square150x150logo"}
%meta{content: "/assets/fav/mstile-310x150.png", name: "msapplication-wide310x150logo"}
%meta{content: "/assets/fav/mstile-310x310.png", name: "msapplication-square310x310logo"}
